body {
    font-family: Arial, serif;
    text-align: center;
    background-color: beige;
    margin: 50px;
}

h1 {
    color: #333;
}

img {
    margin-top: 20px;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
